<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 thumbnail">
            <img ng-src="{{movieShowCtrl.movie.Poster}}">
          </div>

          <div class="col-md-9">
            <ul class="list-group form-inline">
              <li class="list-group-item">
                <h4 class="inline-header">Title:</h4>
                <span><a ng-href="http://www.imdb.com/title/{{movieShowCtrl.movie.imdbID}}">{{movieShowCtrl.movie.Title}}</a></span>
              </li>

              <li class="list-group-item">
                <h4 class="inline-header">Year:</h4>
                <span>{{movieShowCtrl.movie.Year}}</span>
              </li>

              <li class="list-group-item">
                <h4 class="inline-header">Rating:</h4>
                <span>{{movieShowCtrl.movie.Rated}}</span>
              </li>

              <li class="list-group-item">
                <h4 class="inline-header">RunTime:</h4>
                <span>{{movieShowCtrl.movie.Runtime}}</span>
              </li>

              <li class="list-group-item">
                <h4 class="inline-header">Actors:</h4>
                <span>{{movieShowCtrl.movie.Actors}}</span>
              </li>

              <li class="list-group-item">
                <h4 class="inline-header">Plot:</h4>
                <span>{{movieShowCtrl.movie.Plot}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>